{% extends 'professor_dashboard.html' %}
{% block body %}

<div class="row align-items-center d-flex  justify-content-center">
  <div class="col-12 mb-4">
      <div class="card border-light shadow-sm components-section align-items-center d-flex  justify-content-center">
          <div class="card-body align-items-center d-flex justify-content-center">     
              <div class="row mb-4">
                  <div class="col-lg-12 col-sm-16">
                    <h3 class="h3 text-center">CREATE EXAM [OBJECTIVE]</h3>  
                  </div>
                  <div class="card-body">
                              <form method="POST" action="/createtest/" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-4">
                                  <div class="form-group">
    </div>
    <label for="subject">Subject</label>
    <input type="text" id="subject" name="subject">
    <label for="topic">Topic</label>
    <input type="text" id="topic" name="topic">
    <label for="doc">CSV Upload</label>
    <input type="file" id="doc" name="doc">
    <label for="start_date">Start Date</label>
    <input type="date" id="start_date" name="start_date">
    <label for="start_time">Start Time</label>
    <input type="time" id="start_time" name="start_time">
    <label for="end_date">End Date</label>
    <input type="date" id="end_date" name="end_date">
    <label for="end_time">End Time</label>
    <input type="time" id="end_time" name="end_time">
    <label for="duration">Duration(in min)</label>
    <input type="number" id="duration" name="duration">
    <label for="password">Exam Password</label>
    <input type="password" id="password" name="password">
    <p>Proctoring Type</p>
    <label for="automatic">Automatic Monitoring</label>
    <input type="radio" id="automatic" name="proctor_type" value="0">
    <label for="live">Live Monitoring</label>
    <input type="radio" id="live" name="proctor_type" value="1">
    <p><input type="submit" class="btn btn-primary" value="Create Exam"></p>
  </form>
  </div>
</div>
</div>
</div>
  </div>
</div>
{% endblock %}