{% load static %}
<script src="{% static 'volt/vendor/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_wEt2nn.json" background="transparent" speed="1" style="width: 70px; height: 50px;" loop autoplay></lottie-player>
                MyProctor.ai
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if request.session.logged_in %}
                        {% if request.session.user_role == "student" %}
                            <li class="nav-item">
                                <a class="nav-link" id="active1" href="/studentindex/">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="active2" href="/changepasswordstudent/">Change Password</a>
                            </li>
                        {% endif %}
                        {% if request.session.user_role == "teacher" %}
                            <li class="nav-item">
                                <a class="nav-link" id="active1" href="/professorindex/">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="active2" href="/changepasswordprofessor/">Change Password</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" id="active3" href="/contactpage/">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="active4" href="/faq">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="active5" href="/logout/" onclick="return funLogout()">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" id="active6" href="/loginpage/">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="active7" href="/registerpage/">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="active8" href="/contactpage/">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="active9" href="/faq/">FAQ</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    function funLogout() {
        swal.fire({
            title: 'Are you sure?',
            text: "Do you really want to logout?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, Logout me!',
            cancelButtonText: 'No!',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#202124',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/logout",
                    success: function (response) {
                        if (response == "success") {
                            console.log(response);
                            window.location.href = "/";
                        }
                    }
                });
                swal.fire(
                    'Success!',
                    'You are successfully signed out from the system.',
                    'success'
                )
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                swal.fire(
                    'Cancelled',
                    'Logout cancelled.',
                    'error'
                )
            }
        })
    }
</script>